

{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Статусы' %}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="card-title">{% trans 'Статусы' %}</h2>
                    <div class="mt-3"><a href="{% url 'create_status' %}" class="btn btn-success">{% trans "Создать статус" %}</a></div>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th>{% trans 'ID' %}</th>
                                <th>{% trans 'Имя' %}</th>
                                <th>{% trans 'Дата создания' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in statuses %}
                            <tr>
                                <td>{{ status.id }}</td>
                                <td>{{ status.name }}</td>
                                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                                <td>
                                    <div><a href="{% url 'update_status' status.id %}">{% trans "Изменить" %}</a></div>
                                    <div><a href="{% url 'delete_status' status.id %}">{% trans "Удалить" %}</a></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
