{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h4 class="card-title text-left mb-3">{% trans 'Edit Status' %}</h4>
                    <form method="post" action="{% url 'update_status' status.id %}" class="form-input">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_name">{% trans 'Name' %}</label>
                            <input type="text" name="name" class="form-control"
                                   id="id_name"
                                   value="{{ status.name }}"
                                   maxlength="100"
                                   placeholder="{% trans 'Имя' %}"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">{% trans 'Edit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
