**/__pycache__/
static/
.env
.venv
venv/
build.sh
.idea/
.static/
.node_modules/
.bash_profile
.bashrc
.flake8
package-lock.json
package.json
poetry.lock
users_fixture.jsonbin/
node_modules/
staticfiles/
staticfiles/
