asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
dj-database-url==2.2.0
Django==4.2.13
django-bootstrap5==24.2
django-filter==24.2
flake8==7.1.0
gunicorn==21.2.0
h11==0.14.0
idna==3.7
mccabe==0.7.0
packaging==24.0
psycopg2-binary==2.9.9
pycodestyle==2.12.0
pyflakes==3.2.0
python-dotenv==1.0.1
requests==2.32.3
rollbar==1.0.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.12.1
urllib3==2.2.2
uvicorn==0.30.1
whitenoise==6.6.0
