{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <h1>Пользователи</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
    </tr>
    {% endfor %}
</table>
</div>


{% endblock %}
