{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container mt-4">
    <h1 class="display-4">{% trans 'Edit user' %}</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% trans 'Edit' %}</button>
    </form>
</div>

{% endblock %}

