{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="card-title">{% trans 'Users' %}</h2>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th>{% trans 'ID' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th>{% trans 'Full name' %}</th>
                                <th>{% trans 'Creation date' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.get_full_name }}</td>
                                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                                <td>
                                    <div><a href="{% url 'user_update' user.id %}">{% trans "Edit" %}</a></div>
                                    <div><a href="{% url 'user_delete' user.id %}">{% trans "Delete" %}</a></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
