{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <script>
document.addEventListener('DOMContentLoaded', function() {
    // Удаление всех скриптов
    document.querySelectorAll('script').forEach(function(script) {
        script.remove();
    });
});
</script>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">{% trans 'Create Label' %}</h4>
                    <form method="post" action="{% url 'label_create' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_name">{% trans 'Name' %}</label>
                            <input type="text" name="name" class="form-control" id="id_name" placeholder="{% trans 'Name' %}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">{% trans 'Create' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}