{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}
{% load i18n %}

{% block content %}
  <div class="labels-list-container">
    <h2>{% trans 'Labels' %}</h2>
    <form method="get" action="{% url 'label_create' %}" class="labels-list-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">{% trans 'Create Label' %}</button>
    </form>
    <ul>
      {% for label in labels %}
        <li>{{ label.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/labels-list.css' %}">
{% endblock %}
