{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h2>{% trans 'Tasks' %}</h2>
  <a href="{% url 'task_create' %}" class="btn btn-success mb-3">{% trans 'Create task' %}</a>

  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">{% trans 'ID' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Author' %}</th>
        <th scope="col">{% trans 'Executor' %}</th>
        <th scope="col">{% trans 'Creation date' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <th scope="row">{{ task.id }}</th>
                    <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
          <td>{{ task.status.name }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at }}</td>
          <td>
            <div><a href="{% url 'task_update' task.id %}">{% trans "Edit" %}</a></div>
            <div><a href="{% url 'task_delete' task.id %}">{% trans "Delete" %}</a></div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
