{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h2>{% trans 'Tasks' %}</h2>
  <a href="{% url 'task_create' %}" class="btn btn-success mb-3">{% trans 'Create task' %}</a>

  <form method="get" class="form-inline">
    <!-- Фильтр Статус -->
    <div class="form-group mb-2">
      <label class="form-label" for="id_status">{% trans 'Status' %}</label>
      <select name="status" class="form-select ml-2 mr-3 {% if request.GET.status or request.GET.status == "" %}is-valid{% endif %}" id="id_status">
        <option value="" {% if request.GET.status == "" or not request.GET.status %}selected{% endif %}>---------</option>
        {% for status_obj in statuses %}
          <option value="{{ status_obj.id }}" {% if request.GET.status == status_obj.id|stringformat:"s" %}selected{% endif %}>
            {{ status_obj.name }}
          </option>
        {% empty %}
          <option value="" disabled>{% trans 'No available statuses' %}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Фильтр Исполнитель -->
    <div class="form-group mb-2">
      <label class="form-label" for="id_executor">{% trans 'Executor' %}</label>
      <select name="executor" class="form-select mr-3 ml-2 {% if request.GET.executor or request.GET.executor == "" %}is-valid{% endif %}" id="id_executor">
        <option value="" {% if request.GET.executor == "" or not request.GET.executor %}selected{% endif %}>---------</option>
        {% for executor_obj in executors %}
          <option value="{{ executor_obj.id }}" {% if request.GET.executor == executor_obj.id|stringformat:"s" %}selected{% endif %}>
            {{ executor_obj.get_full_name }}
          </option>
        {% empty %}
        {% endfor %}
      </select>
    </div>

    <!-- Фильтр Метка -->
    <div class="form-group mb-2">
      <label class="form-label" for="id_label">{% trans 'Label' %}</label>
      <select name="label" class="form-select mr-3 ml-2 {% if request.GET.label or request.GET.label == "" %}is-valid{% endif %}" id="id_label">
        <option value="" {% if request.GET.label == "" or not request.GET.label %}selected{% endif %}>---------</option>
        {% for label in labels %}
          <option value="{{ label_obj.id }}" {% if request.GET.label == label_obj.id|stringformat:"s" %}selected{% endif %}>
            {{ label.name }}
          </option>
        {% empty %}
          <option value="" disabled>{% trans 'No available labels' %}</option>
        {% endfor %}
      </select>
    </div>

<!-- Фильтр Только свои задачи -->
<div class="form-group mb-2">
  <input type="checkbox" name="own_tasks" id="own_tasks" {% if request.GET.own_tasks %}checked{% endif %}>
  <label for="own_tasks" class="form-label {% if request.GET.own_tasks != None %}is-valid{% endif %}">{% trans 'Only my tasks' %}</label>
</div>

    <!-- Кнопка Показать -->
<!-- Кнопка отправки формы фильтрации -->
<div class="form-group mb-2">
  <button type="submit" class="btn btn-primary">{% trans 'Show' %}</button>
</div>

  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">{% trans 'ID' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Author' %}</th>
        <th scope="col">{% trans 'Executor' %}</th>
        <th scope="col">{% trans 'Creation date' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <th scope="row">{{ task.id }}</th>
          <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
          <td>{{ task.status.name }}</td>
          <td>{{ task.author.get_full_name }}</td>
          <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
          <td>{{ task.created_at }}</td>
          <td>
            <div><a href="{% url 'task_update' task.id %}">{% trans "Edit" %}</a></div>
            <div><a href="{% url 'task_delete' task.id %}">{% trans "Delete" %}</a></div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}