{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="task-form-container">
  <h2>{% trans 'Task Modification' %}</h2>
  <form method="post" class="task-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">{% trans "Name" %}</label>
      <input type="text"
             id="id_name"
             name="name"
             value="{{ form.name.value|default_if_none:'' }}"
             class="form-control"
             placeholder="{% trans 'Name' %}"
             required
             aria-required="true"
             oninvalid="this.setCustomValidity('{% trans 'Please fill out this field' %}')"
             oninput="setCustomValidity('')">
      {{ form.name.errors }}
    </div>

<!-- Поле для description -->
<div class="form-group">
  {% trans 'Overview' as description_label %}
  <label for="id_description">{{ description_label|cut:":" }}</label>
  <textarea id="id_description"
            name="description"
            class="form-control"
            placeholder="{% trans 'Description' %}"
            rows="10"
            oninvalid="this.setCustomValidity('{% trans 'Please fill out this field' %}')"
            oninput="setCustomValidity('')">{{ form.description.value|default:'' }}</textarea>
  {{ form.description.errors }}
</div>
    <!-- Поле для status -->
    <div class="form-group">
      {% trans 'Status' as status_label %}
      <label for="id_status">{{ status_label|cut:":" }}</label>
      <select name="status" id="id_status" class="form-select" required>
        <option value="" disabled>{{ form.status.empty_label }}</option>
        {% for status in statuses %}
          <option value="{{ status.id }}" {% if status.id == form.status.value %}selected{% endif %}>{{ status.name }}</option>
        {% endfor %}
      </select>
      {{ form.status.errors }}
    </div>

    <!-- Поле для executor -->
    <div class="form-group">
      <label for="id_executor">{% trans "Executor" %}</label>
      <select name="executor" id="id_executor" class="form-select">
        <option value="" selected disabled>{% trans "---------" %}</option>
        {% for user in users %}
          <option value="{{ user.id }}" {% if user.id == form.executor.value %}selected{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
      </select>
      {{ form.executor.errors }}
    </div>


    <!-- Поле для labels -->
    <div class="form-group">
      {% trans 'Labels' as labels_label %}
      <label for="id_labels">{{ labels_label|cut:":" }}</label>
      <select name="label" id="id_labels" class="form-select" multiple>
        {% for label in labels %}
          <option value="{{ label.id }}" {% if label.id in form.label.value %}selected{% endif %}>{{ label.name }}</option>
        {% endfor %}
      </select>
      {{ form.label.errors }}
    </div>

    <button type="submit" class="btn btn-primary mt-3">{% trans 'Edit' %}</button>
  </form>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/task-form.css' %}">
{% endblock %}
