{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="task-create-container">
  <h2>{% trans 'Task Create' %}</h2>
  <form method="post" class="task-create-form">
    {% csrf_token %}

    <!-- Поле для name -->
       <div class="form-group">
      {% trans 'Name' as name_label %}
      <label for="id_name">{{ name_label|cut:":" }}</label>
      <input type="text"
             id="id_name"
             name="name"
             class="form-control"
             placeholder="{% trans 'Name' %}"
             required
             aria-required="true"
             oninvalid="this.setCustomValidity('{% trans 'Please fill out this field' %}')"
             oninput="setCustomValidity('')">
    </div>

    <!-- Поле для description -->

   <div class="form-group">
  {% trans 'Overview' as description_label %}
  <label for="id_description">{{ description_label|cut:":" }}</label>
  <textarea id="id_description"
            name="description"
            class="form-control"
            placeholder="{% trans 'Overview' %}"
            rows="10"
            required
            aria-required="true"
            oninvalid="this.setCustomValidity('{% trans 'Please fill out this field' %}')"
            oninput="setCustomValidity('')">{{ form.description.value|default:'' }}</textarea>
  {{ form.description.errors }}
</div>

    <!-- Поле для status -->
   <div class="mb-3"><label class="form-label" for="id_status">{% trans "Status" %}</label>
       <select name="status" class="form-select" required="" id="id_status">
        <option value="" selected disabled>---------</option>
        {% for status in statuses %}
          <option value="{{ status.id }}">{{ status.name }}</option>
        {% endfor %}
      </select>
    </div>

<!-- Поле для executor -->
<div class="form-group">
  <label class="form-label" for="id_executor">{% trans "Executor" %}</label>
  <select name="executor" id="id_executor" class="form-select">
    <option value="" selected disabled>---------</option>
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
    {% endfor %}
  </select>
</div>

    <!-- Поле для labels -->
    <div class="form-group">
      <label for="label">{% trans 'Labels' %}</label>
      <select id="label" name="label" class="form-control form-control-sm" multiple>
        {% for label in labels %}
          <option value="{{ label.id }}">{{ label.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">{% trans 'Create' %}</button>
  </form>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/task-create.css' %}">
{% endblock %}