

{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Создание задачи' %}
{% endblock %}

{% block content %}
  <div class="task-create-container">
    <h2>{% trans 'Создание задачи' %}</h2>
    <form method="post" class="task-create-form">
      {% csrf_token %}
      {% for field in form %}
        {% if field.name != 'status' %}
          <div class="form-group">
            {% if field.name == 'name' %}
              <label for="id_name">{% trans 'Имя' %}: </label>
              <input type="text" id="id_name" name="name" class="form-control" placeholder="{% trans 'Имя' %}">
            {% elif field.name == 'description' %}
              <label for="id_description">{% trans 'Описание' %}: </label>
              <textarea id="id_description" name="description" class="form-control" placeholder="{% trans 'Описание' %}" rows="10"></textarea>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <label for="status">{% trans 'Статус' %}:</label>
        <select name="status" id="status" class="form-control">
          <option value="" selected disabled>----</option>
          <option value="" disabled>{% trans 'Выберите статус' %}</option> <!-- Этот пункт будет отображаться по умолчанию -->
          {% for status in statuses %}
            <option value="{{ status.id }}">{{ status.name }}</option>
          {% empty %}
            <option value="" disabled>{% trans 'Нет доступных статусов' %}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="assigned_to">{% trans 'Исполнитель' %}:</label>
<select name="assigned_to" id="assigned_to" class="form-control">
  <!-- Опции выбора исполнителя -->

          <option value="" selected disabled>----</option>
          <option value="" disabled>{% trans 'Выберите исполнителя' %}</option>
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% empty %}
            <option value="" disabled>{% trans 'Нет доступных исполнителей' %}</option>
          {% endfor %}
        </select>
      </div>
      <label for="label">Метки</label>
      <input type="text" id="label" name="label" class="form-control form-control-sm" placeholder="Введите метку">

      <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
    </form>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/task-create.css' %}">
{% endblock %}